<div>
    <nav class="navbar-custom">
        <div class="container" style = "display: flex; flex-direction:row; align-items:center">
            <img src = "../../assets/images/logo.png" style = "max-width:70%; max-height:70%; margin-right: 10px;">
            <span class="navbar-brand mb-0 h1 title">Polybee WeatherApp</span>
        </div>
    </nav>
    <div class="container">
        <div class = "row gridOuter">
            <div class = "gridBody">
                <app-weather-card [index] = "1"></app-weather-card>
                <app-weather-card [index] = "2"></app-weather-card>
                <app-weather-card [index] = "3"></app-weather-card>
                <app-weather-card [index] = "4"></app-weather-card>
                <app-weather-card [index] = "5"></app-weather-card>
                <app-weather-card [index] = "6"></app-weather-card>
                <app-weather-card [index] = "7"></app-weather-card>
                <app-weather-card [index] = "8"></app-weather-card>
                <app-weather-card [index] = "9"></app-weather-card>
            </div>
        </div>   
    </div>
</div>

